/*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}

.fondo-login{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(156, 156, 156);
}

.container1-login{
    background:  rgb(250, 250, 250);
    height:650px;
    width:850px;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    position:relative;
}

.formularios-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:250px;
}

.button1-login{
    padding: 5px 30px 5px 30px;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border:1px solid rgb(202, 202, 202);
    color: #000;
    border-radius: 20px;
}

.button2-login{
    padding: 10px 60px 10px 60px;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border:1px solid rgb(202, 202, 202);
    color: #000;
    border-radius: 20px;
    position:relative;
    bottom:55px;
    font-weight: 400;
}


.button1-login:hover{
    background-color: rgb(155, 153, 153);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
}

.button2-login:hover{
    background-color: rgb(155, 153, 153);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
}

.form-input-login{
    padding:7px;
    border-radius: 25px;
}
.contra-login{
    text-decoration: none;
    color:#000;
    margin: 5px 10px 0px 0px;
    font-size: 12px;
}

.mediante-login{
    font-weight: 700;
}
.contra-login:hover{
    border-bottom: 1px solid #0000ff;
    color: #0000ff;
    font-weight: 700;
}

.passw-container-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
input:focus{
    outline: none;
}

.container2-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 220px;
    position: relative;
}

.container3-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
    position:relative;
    bottom:20px;
}

.olv-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

hr{
    color:black;
    width: 200px;
}

.ingresar-login{
    height:10px;
}

.ingresar-login img{
    width: 230px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:20px;
}

.ingresar-login img:hover{
    border: 3px solid rgb(7, 7, 7);
}

.pie-login {
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;  
}

.pie-login .pie2-login {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
}

.redes-login{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:70px
}

.fb,
.ig{
    width:20px;
}

.ejey-login {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:40px;
}

.h2-login:hover{
    background-color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    transition: background-color 1.5s;
    margin: 0px 0px -5px 0px;
}
/*
.logo{
    margin-top: 30px;
}
/*
article input, article a, article img{
    float: left;
    width: 50%;
    margin-left: 200px;
}
*/