*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background: rgb(156, 156, 156);
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
}

section{
    background:  rgb(250, 250, 250);
    height:650px;
    width:850px;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px
}

.principal{
    margin: 0px 0px 0px 0px;
}

form{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:250px;
}

.button{
    padding: 5px 30px 5px 30px;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border:1px solid rgb(202, 202, 202);
    color: #000;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
}
.button:hover{
    background-color: rgb(155, 153, 153);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
}
.form-input{
    padding:7px;
    border-radius: 25px;
}
.contra {
    text-decoration: none;
    color:#000;
    margin: 5px 10px 0px 0px;
    font-size: 12px;
}

.mediante{
    font-weight: 700;
    padding: 0px 0px 40px 0px;
}
.contra:hover{
    border-bottom: 1px solid #0000ff;
    color: #0000ff;
    font-weight: 700;
}

.passw{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
input:focus{
    outline: none;
}

.olv{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.ingresar img{
    width: 200px;
}

.ingresar img:hover{
    border: 1px solid rgb(124, 121, 121);
}

.pie {
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 850px;        
}

.pie h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
          display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/*
.logo{
    margin-top: 30px;
}
/*
article input, article a, article img{
    float: left;
    width: 50%;
    margin-left: 200px;
}
*/