<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead Fellas | Todos los productos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Barlow+Condensed:wght@500&family=Spartan:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/05c282ad9f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
       <div class="navbar">
          <div class="logo">
            <img src="images/logo/lodoDef.jpg" width="200">
    </div>
   <nav>
        <ul>
            <li><a href="" class = "carrito">BUSCAR</a></li>
            <li><a href="" class = "carrito">MI CUENTA</a></li>
            <li><a href="" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
        </ul>
    </nav>
   </div>
  </div> 

  <!-------- Unico Producto -------->

  <div class="small-container producto-unico">
      <div class="row">
          <div class="col-2">
              <img src="images/productos/detalleprod1.jpg" width="100%" id="productImg">
              
              <div class="small-img-row">
                  <div class="small-img-col">
                      <img src="images/productos/detalleprod2.jpg" width="100%" class="small-img">
                  </div>
                  <div class="small-img-col">
                    <img src="images/productos/detalleprod3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/productos/detalleprod4.jpg" width="100%" class="small-img">
                </div>
              </div>

          </div>
          <div class="col-2 productInfo" >
              <p>Home / Remeras</p>
              <h1>REMERA NICK</h1>
              <h4>$3.480</h4>

              <div>
              <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <a href="" class="btn">Comprar</a>
            </div>
              <h3>Descripción</h3>
              <br>
              <p>Remera de jersey con escote redondo y manga corta. Estampa central en delantero. 100% Algodón. Hecho en Argentina.</p>

          </div>
      </div>
  </div>

 <!-------- Titulo -------->


    <div class="row-2">
        <h2 class="h2-detail">Productos sugeridos</h2>
    </div>


 
 <!-------- Productos -------->

<div class="small-container">


    <div class="row">
        <div class="col-2">
            <img src="images/productos/foto 4.jpg">
            <h4>REMERA MATRIX DARK ACID</h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 5.jpg">
            <h4>REMERA CRYPTOCHILD </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 6.jpg">
            <h4>REMERA SPITFIRE </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 7.jpg">
            <h4>REMERA SICK</h4>
            <p>$2.590</p>
        </div>

    </div>
  </div>


<!-------- FOOTER -------->
<footer class="pie">
    <div class="pie2">
        <a class = "h2-footer">AYUDA</a>
        <a class = "h2-footer">CONTACTO</a>
        <a class = "h2-footer">ATENCIÓN AL CLIENTE</a>
        <a class = "h2-footer">TÉRMINOS Y CONDICIONES</a>
    </div>
    <div class="ejey">
        <div class="redes">
        <!-- <a href="#"><img src="../logo/instagram.png" alt="Instagram" class="ig"> </a> -->
        <a href=""><i class="fab fa-instagram fa-4x"></i></a>
        <!-- <a href="#"><img src="../logo/facebook.png" alt="Facebook" class="fb"> </a>
         -->
        <a href=""> <i class="fab fa-facebook-square fa-4x"></i></a>


          
        </div>
    </div>
</footer>



</body>
</html>