*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Poppins;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.carrito {
    text-decoration: none;
    color:black;
    padding: 0% 10px 0% 10px;
}

.carrito:hover{
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    padding: 0% 10px 0% 10px;
}

p {
    color: black;
    text-align: center;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-0 {
    flex-basis: 100%;
    min-width: 500px;
}

.col-0 img {
    max-width: 100%;
    padding: 100px 0;
}

.col-0 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.small-container1{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.btn {
font-size: 12px;
padding: 11px;
padding-top: 13px;
text-align: center;
height: 40px;
text-transform: capitalize;
background-color: black;
border: 0;
color: white;
letter-spacing: 2px;
outline: 0;
width: 70%;
margin-left: 5px;

}

.header {
    background: transparent;
}

.header row {
    margin-top: 70px;
}

.categorias {
    margin: 70px 0;
}

.col-1 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-1 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
}

.col-2 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-2 img {
    width: 100%;
}

.tittle {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.tittle::after {
    content: '';
    background: black;
    width: 500px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    transform: translateX(-80%);
}

h4 {
    color: black;
    font-weight: normal;
    text-align: center;
}

.col-2 p {
    font-size: 15px;
}

.filtro-product {
    border-radius: 20px;
}

/*-------- Todos los productos --------*/

.row-2 {
    justify-content: space-between;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h2-detail{
    border: 2px solid transparent;
    padding: 5px 8px 5px 8px;
}

.h2-detail:hover{
    border: 2px solid #000;
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
}


select {
    border: 3px solid black;
    padding: 5px;
    ;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
    display: flex;
    justify-content: right;
}

.page-btn span {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span {
    background: lightgray;
    color: black;
}

/*-------- Unico Producto --------*/
.producto-unico {
    margin-top: 80px;
}

.producto-unico col-2 img {
    padding: 0;
}

.producto-unico col-2 {
    padding: 20px;
}

.producto-unico h4 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.producto-unico select {
    padding: 10px;
    margin-top: 20px;
}

.producto-unico input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


.a-images {
    text-decoration: none;
    display: inline-block;
  }
  
  /* a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  .previous {
    background-color:lightgray;
    color: black;
     align-items: center;
  }
  
  .next {
    background-color:black;
    color: white;
    align-items: center;
  }
  
  .round {
    border-radius: 50%;
  }

/*-------- Footer --------*/
.pie {
    background: white;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    
}

.pie .pie2 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    direction: column;
    width: 600px;
    flex-grow: 0.7;
    position: relative;
    top:5px;
    height: 25px;
}
 
/*  .redes{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
} */

.fb,
.ig{
    width:20px;
}

.h2-footer{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    padding: 0px 10px 0px 10px;
}

.h2-footer:hover{
    color: #fff;
    background-color: #000;
    font-size: 16px;
    border-radius: 15px;
    font-weight: 700;
    padding: 0px 10px 0px 10px;
}

/* .ejey {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:45px;
} */

.productInfo h3 {
    text-align: center;
    margin-top: 40px;
}

.redes i {
    margin-left: 30px;
}

.redes a {
    text-decoration: none;
    color: black;
    font-size: 8px;
}
/*-------- CARRITO --------*/
.bodyCart{
    height: 100vh;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: black;
}
thead th{
    text-align: center;
}
td {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
}

td img {
    height: 80px;
    margin-right: 10px;
}

.total-price td:not(:first-child) {
    border-top: 3px solid black;
}

.total-price{
    padding-bottom: 100px;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cupon-1{
    background-color:#fff;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 10px;
    padding: 1% 1% 1% 90%;
    font-family: Poppins;
} 

/*-------- LOGIN --------*/

.principal-login{
    width: 100%;
}

.logo-login{
    width: 50%; 
}


.fondo-login{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(156, 156, 156);
}

.container1-login{
    background:  rgb(250, 250, 250);
    height:90%;
    width:45%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    position:relative;
}

.formularios-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:250px;
    width: 100%;
}

.button1-login{
    padding:1%;
    width: 50%;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;
    position: relative;
    bottom: 15%;
    font-family: Poppins;
}

.button2-login{
    padding: 2% 2% 2% 2%;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    color: #000;
    border-radius:15px;
    font-weight: 400;
    width: 55%;
}

.saltoline{
    color: black;
    border: 1px solid #000;
}

.button1-login:hover{
    background-color: #000;
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    font-weight: 700;
    border-radius: 20px;
    font-family: Poppins;
}

.button2-login:hover{
    background-color: rgb(155, 153, 153);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
}

.vinc:hover{
    background-color: transparent;
}

.form-input-login{
    padding:7px;
    width: 50%;
    border-radius: 25px;
    font-family: Poppins;
}
.contra-login{
    text-decoration: none;
    color:#000;
    font-size: 12px;
    font-family: Poppins;
}


.contra-login:hover{
    text-decoration: none;
    color: #0000ff;
    font-weight: 700;
    background-color: #fff;
}

.regist-login{
    text-decoration: none;
    color:#000;
    font-size: 15px;
    font-weight: 600;
    font-family: Poppins;
}

.regist-login:hover{
    text-decoration: none;
    color: #0000ff;
    font-weight: 700;
    background-color: #fff;
}



.mediante-login{
    font-weight: 50%;
    font-family: Poppins;
}

.passw-container-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 8%;
}
input:focus{
    outline: none;
}

.container2-login{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    bottom:20px;
}

.container3-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
    position:relative;
    bottom:20px;
}

.olv-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

hr{
    color:black;
    width: 200px;
}

.ingresar-login img{
    width:45%;
    border: 2px solid transparent;
    border-radius:20px;
    padding: 2% 2% 2% 2%;
}

.ingresar-login img:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.pie-login {
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;  
}

.pie-login .pie2-login {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
}

.redes-login{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:70px;
}

.fb,
.ig{
    width:20px;
}

.ejey-login {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:48px;
}

.h2-login{
    color: #fff;
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 12px;
    padding:5px 5px 5px 5px;
}

.h2-login:hover{
    background-color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    transition: background-color 1.5s;
}

/*-------- REGISTTER --------*/
.registerbody{
    background-color: rgb(110, 108, 108);
}

main{
    position: relative;
}
.register_1{
    color: black;
}

.principal-register{
    width:100%;
    height: 42%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:relative;
    bottom: 4%;
}

.register_section{
    background:  rgb(250, 250, 250);
    height:600px;
    width:850px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px auto;
    position:relative; 
}

.imagen_register{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.register_1{
    width:50%;
}

.registrate-{
    font-size:16px;
    position: relative;
    bottom:25%;
    font-family: Poppins;
}

.register_{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.pregister_{
    margin-right:100%;
    position:relative;
    bottom: 10%;
}

.pregister_1{
    margin-right:63%;
    bottom: 100px;
}

.button_register{
    position: relative;
    bottom: 5%;
    padding:1.5% 1.5% 1.5% 1.5%;
    width: 50%;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
}

.button_register:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    font-family: Poppins;
}

.places-{
    background-color:#fff;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    font-family: Poppins;
}
/* Boton Whatsapp */
.btn-whatsapp {
    display:block;
    width:45px;
    height:50px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
