@import 'partials/_index.css';
@import 'partials/_login.css';
@import 'partials/_products.css';
@import 'partials/productsCart.css';
@import 'partials/_productDetail.css';
@import 'partials/_register.css';

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* movimiento */
.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

.navbar {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-top: 45px !important;
    padding-bottom: 20px !important;
}



.envios {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
    padding: 7px 0;
}

.navegacion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    padding-top: 60px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.carrito {
    text-decoration: none;
    color:black;
    padding: 0% 10px 0% 10px;
}

.carrito:hover{
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    padding: 0% 10px 0% 10px;
}

.menu-icon {
    width: 23px;
    margin-left: 15px;
    display: none;
}
/* --- media query para el menu */

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0px;
        background: white;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* nav ul li a {
        color: black;
    } */
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* media query para menos de 600 screen size  */

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-0, .col-1, .col-2 {
        flex-basis: 100%;
    }
    .producto-unico .col-2 {
        padding: 20px 0;
    }

    .col-2 {
        flex: 1 0 auto !important;
    }
    .producto-unico h1{
        font-size: 26px;
        line-height: 32px;
    }
}


p {
    color: black;
    text-align: center;
}




.containerr {
    margin: auto;
    /* padding-left: 25px;
    padding-right: 25px; */
}

.row {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

.col-0 {
    flex-basis: 100%;
    min-width: 500px;
}


 .col-0 img {
    max-width: 100%;
}

.col-0 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.small-container1{
    padding-left: 25px;
    padding-right: 25px;
}


.btn {
font-size: 12px;
padding: 11px;
padding-top: 13px;
text-align: center;
height: 55px;
text-transform: capitalize;
background-color: black;
border: 0;
color: white;
letter-spacing: 2px;
outline: 0;
width: 70%;
margin-left: 5px;
outline: none;
text-decoration: none;
display: inline-block;
margin-top: 20px;
}

/* .btn:hover{
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-size: 12px;
} */


.header {
    background: transparent;
}

.header row {
    margin-top: 70px;
}

.categorias {
    margin: 70px 0;
}

.col-1 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-1 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
}

.col-2 {
    flex-basis: 25% !important;
    padding: 10px !important;
    min-width: 200px !important;
    margin-bottom: 50px !important;
    text-align: center !important;
}

.col-2 img {
    width: 300px;
    height: 300px;
}

.tittle {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    height: normal;
    text-align: center;
}

.col-2 p {
    font-size: 15px;
}

.filtro-product {
    border-radius: 20px;
}

/*-------- Todos los productos --------*/

.row-2 {
    justify-content: space-between;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.h2-detail{
    border: 2px solid transparent;
    padding: 5px 8px 5px 8px;
    justify-content: center;
}

.btncarrito {
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 2px solid black;
    width: 50% !important;
}

.btncarrito:hover {
    border-radius: 15px;
    border: 2px solid white;
}

select {
    border: 3px solid black;
    padding: 5px;
    ;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
}

.page-btn span {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn :hover {
    background: grey;
    color: black;
}

/*-------- Unico Producto --------*/
.producto-unico {
    margin-top: 80px;
}

.producto-unico col-2 img {
    padding: 0;
}

.producto-unico col-2 {
    padding: 20px;
}

.producto-unico h4 {
    margin: 20px 0px 22px 0px;
    font-size: 20px;
    font-weight: bold;
}

.producto-unico select {
    padding: 10px;
    margin-top: 20px;
}

.producto-unico input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


.imagesfooter {
    text-decoration: none;
    display: inline-block;
    color: #000;
  }
  
  /* a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  .previous {
    background-color:lightgray;
    color: black;
     align-items: center;
  }
  
  .next {
    background-color:black;
    color: white;
    align-items: center;
  }
  
  .round {
    border-radius: 50%;
  }

/*-------- Footer --------*/
.pie {
    font-size: 10px;
    height: 150px;
    width: 100%;
    border-top:rgb(155, 153, 153);
}


.pie .pie2 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    direction: column;
    width: 600px;
    flex-grow: 0.7;
    position: relative;
    top:5px;
    height: 25px;
}

.pie .pie3 {
    clear: both;
    background: white;
    text-align: center;
    padding-top: 50px;
}
 
/*  .redes{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
} */



.tabla {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 145px;
}

.fb,.ig{
    width:20px;
}

.h2-footer{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    padding: 0px 10px 0px 10px;
}

.h2-footer:hover{
    color: #fff;
    background-color: #000;
    font-size: 16px;
    border-radius: 15px;
    font-weight: 700;
    padding: 0px 10px 0px 10px;
}

/* .ejey {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:45px;
} */

.productInfo h3 {
    text-align: center;
    margin-top: 40px;
}

.redes i {
    margin-left: 30px;
    margin-right: 30px;
}

.redes a {
    text-decoration: none;
    color: black;
    font-size: 8px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}
/*-------- CARRITO --------*/
.bodyCart{
    height: 93vh;
}

tbody{
    height:1000px;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 550px;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: black;
}
thead th{
    text-align: center;
}
td {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
}

td img {
    height: 80px;
    margin-right: 10px;
}

.total-price td:not(:first-child) {
    border-top: 3px solid black;
}

.total-price{
    padding-bottom: 100px;
}

.total-price1{
    display:flex;
    justify-content: space-around;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cupon-1{
    background-color:#fff;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 10px;
    padding: 1% 1% 1% 90%;
    font-family: Poppins;
}

.font45{
    position: relative;
    left: 100px
}

.imgCarrito{
    width: 40%;
    height: 90px;
    position: relative;
    bottom: 20px;
}

/* Colecciones */

.collections {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style:none
}

/*-------- LOGIN --------*/

.principal-login{
    width: 100%;
}

.logo-login{
    width: 50%; 
}


.fondo-login{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(156, 156, 156);
}

.container1-login{
    background:  rgb(250, 250, 250);
    height:90%;
    width:45%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    position:relative;
}

.formularios-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:400px;
    width: 100%;
}

.button1-login{
    padding:1%;
    width: 50%;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;
    position: relative;
    bottom: 2%;
    font-family: Poppins;
}

.button2-login{
    padding: 2% 2% 2% 2%;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    color: #000;
    border-radius:15px;
    font-weight: 400;
    width: 55%;
}

.saltoline{
    color: black;
    border: 1px solid #000;
}

.button1-login:hover{
    background-color: #000;
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    font-weight: 700;
    border-radius: 20px;
    font-family: Poppins;
}

.button2-login:hover{
    background-color: rgb(155, 153, 153);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
}

.vinc:hover{
    background-color: transparent;
}

.form-input-login{
    padding:7px;
    width: 50%;
    border-radius: 25px;
    font-family: Poppins;
}
.contra-login{
    text-decoration: none;
    color:#000;
    font-size: 14px;
    font-family: Poppins;
}


.contra-login:hover{
    text-decoration: none;
    color: #0000ff;
    font-weight: 700;
    background-color: #fff;
}

.regist-login{
    text-decoration: none;
    color:#000;
    font-size: 15px;
    font-weight: 600;
    font-family: Poppins;
}

.regist-login:hover{
    text-decoration: none;
    color: #0000ff;
    font-weight: 700;
    background-color: #fff;
}



.mediante-login{
    font-weight: 50%;
    font-family: Poppins;
}

.passw-container-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0%;
}
input:focus{
    outline: none;
}

.container2-login{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    bottom:20px;
}

.container3-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
    position:relative;
    bottom:20px;
}

.olv-login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

hr{
    color:black;
    width: 200px;
}

.ingresar-login img{
    width:45%;
    border: 2px solid transparent;
    border-radius:20px;
    padding: 2% 2% 2% 2%;
}

.ingresar-login img:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.pie-login {
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;  
}

.pie-login .pie2-login {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
}

.redes-login{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:70px;
}

.fb,
.ig{
    width:20px;
}

.ejey-login {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:48px;
}

.h2-login{
    color: #fff;
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 12px;
    padding:5px 5px 5px 5px;
}

.h2-login:hover{
    background-color: #fff;
    border:2px solid rgb(29, 29, 29);
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    transition: background-color 1.5s;
}

/*-------- REGISTTER --------*/
.registerbody{
    background-color: rgb(110, 108, 108);
}

main{
    position: relative;
}
.register_1{
    color: black;
}

.register_2{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal-register{
    width:100%;
    height: 60%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:relative;
    bottom: 8%;
}

.register_section{
    background:  rgb(250, 250, 250);
    height:600px;
    width:850px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 150px auto;
    position:relative; 
}

.imagen_register{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.register_1{
    width:50%;
}

.registrate-{
    font-size:16px;
    position: relative;
    bottom:25%;
    font-family: Poppins;
}

.register_{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.pregister_{
    margin-right:100%;
    position:relative;
    bottom: 10%;
}

.pregister_1{
    margin-right:63%;
    bottom: 100px;
}

.button_register{
    position: relative;
    bottom: 5%;
    padding:1.5% 1.5% 1.5% 1.5%;
    width: 50%;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
}

.button_register:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    font-family: Poppins;
}

.places-{
    background-color:#fff;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    font-family: Poppins;
}
/* Boton Whatsapp */
.btn-whatsapp {
    display:block;
    width:45px;
    height:50px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.finish {
    float:right;
    outline: none;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
    margin-right: 40px;
}

.finish:hover{
    background-color: #000;
    color: #fff;
    padding: 6px;
}

.logodef{
    width: 80%;
}

.upavatar{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #b8b8b8;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.form-control-file{
width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}

@media screen and (max-width:380px){

.register_section{
    width: 100%;
    margin: 0px;
    height: 100vh;
}

.register_1{
    width: 300px;
    height: 35px;
}

.registrate-{
    font-size: 12px;
    position: relative;
    bottom:0%;

}

.principal-register{
    position: relative;
    bottom: 6%;
}

.register_{
    width: 70%;
}

.upavatar{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #b8b8b8;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.form-control-file{
width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}

.button_register{
    position: relative;
    bottom: 10%; 
}

.logo{
    width:80%;
}
.register_2{
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

@media screen and (max-width:768px){

.register_section{
    width: 100%;
    margin: 0px;
    height: 100vh;
    }

    .upavatar{
        font-size: 14px;
        font-weight: 400;
        color: #000;
        background-color: #b8b8b8;
        cursor: pointer;
        padding: 8px 5px 8px 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 15px;
    }
    
    .form-control-file{
    width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
    }
}


/* media query productDetail para menos de 600 screen size  */

@media only screen and (max-width:1093px) {

    .btn{
        height: 55px;
        margin-top: 20px;
    }
}

/* Formulario para modificar usuario */

.input-userMod {
    padding:7px;
    width: 300px;
    border-radius: 25px;
    font-family: Poppins;
}

.button-user{
    padding:7px;
    width: 300px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;
    font-family: Poppins;
}

.formularios-user{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height:500px;
    width: 100%;
    
}

.div-userMod{
    width: 15%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.container-login{
    height:100%;
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    border-radius: 15px;
    margin: 1000px;
}

.update1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.update2{
    width: 400px;
    height: 400px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    background-color:rgb(173, 171, 171);
    border-radius: 15px;
    margin-top: 2%;
}

.imageupdate{
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

.formCreate{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 600px;
    margin: 0px 450px 0px 450px ;
    margin-top: 5%;
    background: rgb(173, 171, 171);
    border-radius: 15px;
}

.ingenioso{
    height: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.LogoDFLogin{
    width: 50%
}

.h1create{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width:870px){

    .fondo-login{
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgb(156, 156, 156);
        height: 100vh;
    }

    .container1-login{
        background:  rgb(250, 250, 250);
        height:100%;
        width:100%;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        position:relative;
    }

    .formularios-login{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height:400px;
        width: 100%;
        position: relative;
        bottom: 100px;
    }
}

.btnRegister{
    padding:5px;
    width: 35%;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;
    position: relative;
    top: 2%;
    font-family: Poppins;
}

.h3create{
    position: relative;
    top:10px;
    font-family: Poppins;
}

.buttonCarga{
    padding:0.5%;
    width: 15%;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 10px;
}

.buttonCarga:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    border-radius: 15px;
}

.volver{
    position: absolute;
    top:100px;
    left:460px;
    color: #fff;
    text-decoration:none;
    font-size: 12px;
}

.volver:hover{
    position: absolute;
    top:95px;
    left:455px;
    color: #fff;
    text-decoration:none;
    font-size: 14px;
}

.inputCarga{
    border-radius: 10px;
}

@media screen and (max-width:870px){

.formCreate{
    margin:0;
    height:100vh;
    border-radius: 0px;
}

.buttonCarga{
    width:50%;
}

.h1create{
    font-size:20px;
    position: relative;
    top:2%
}

.h3create{
    font-size: 14px;
    position: relative;
    top:2%
}

.volver{
    position: absolute;
    top:0px;
    left:3px;
    color: #fff;
    text-decoration:none;
    font-size: 8px;
}

}

.h2create{
    font-size: 15px;
    width: 70%;
}

@media screen and (max-width:1100px){

    .h2create{
        font-size: 15px;
        width: 100%;
    }

    .formCreate{
        margin:0;
        height:100vh;
        border-radius: 0px;
    }
    
    .buttonCarga{
        width:50%;
    }
    
    .h1create{
        font-size:25px;
        position: relative;
        top:2%;
        text-align: center;
    }
    
    .h3create{
        font-size: 18px;
        position: relative;
        top:2%
    }
    
    .volver{
        position: absolute;
        top:0px;
        left:3px;
        color: #fff;
        text-decoration:none;
        font-size: 8px;
    }

    .inputCarga{
        border-radius: 10px;
        width: 250px
    }
    
    }

.agregarProd{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.agregarProd:hover{
    text-decoration: underline #fff;
    font-size: 20px;
    color: #fff;
}

.agregarProd1{
    height:30px;
    width: 70px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;;
    font-family: Poppins;
    text-decoration: none;
    display:flex;
    justify-content: center;
}

.agregarProd1:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border:2px solid rgb(29, 29, 29);
    border-radius: 20px;
    font-family: Poppins;
}

.borrarUpdate{
    padding:1%;
    width: 70px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border:2px solid rgb(202, 202, 202);
    border-radius: 15px;
    position: relative;
    bottom: 2%;
    font-family: Poppins;
}


.borrarUpdate:hover{
        background-color: rgb(0, 0, 0);
        color: #fff;
        border:2px solid rgb(29, 29, 29);
        font-weight: 700;
        border-radius: 20px;
        font-size: 14px;
        font-family: Poppins;
}

.update10{
        width: 400px;
        height: 400px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        background-color:rgb(173, 171, 171);
        border-radius: 15px;
        margin-top: 2%;
}

.h1updatem{
    font-size: 30px;
    position: relative;
    bottom: 30px;
}

@media screen and (max-width:870px){
 
.tabla {
    margin-top: 80px;
    margin-left: 28px;
    margin-right: auto;
    width: 65%;
    margin-bottom: 145px;
}

.imgCarrito {
    width: 142%;
    height: 100px;
    position: relative;
    bottom: 20px;
}

.font45 {
    position: relative;
    left: 3px;
    bottom: 35px;
}

.ACARRITO {
    text-decoration: none;
    font-size: 10px;
    position: relative;
    right: 91px;
    bottom: -50px;
}

.finish {
    float: right;
    outline: none;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
    margin-right: 5px;
}

.total-price1{
    display:flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
}

.update10{
    width: 400px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    background-color:rgb(173, 171, 171);
    border-radius: 15px;
    margin-top: 2%;
}

}

.afooter{
    text-decoration: none;
    color: #000;
    font-size: 20px
}

.divfooter{
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.divfooter2{
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: 38%;
    padding-top: 35px;
}

.classbodydetail{
    height: 100vw;
}


.art1 {
    width: 50%;
    text-align: left;
    padding-left: 70px;
}

.ACARRITO{
    text-decoration: none;
    font-size: 16px;
}



@media screen and (max-width:870px){

.slider{
    height:260px;
}

.divfooter{
    flex-direction: column;
}

.afooter{
    padding-top: 5px;
    font-size: 15px
}

.divfooter2{
    padding-top:20px
}

.hr1 {
    width: 100%;
}
}