<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead Fellas | Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Barlow+Condensed:wght@500&family=Spartan:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/05c282ad9f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" width="40" alt="">
        </a>
        </div>
    <div class="header">
    <div class="container">
       <div class="navbar">
          <div class="logo">
            <img src="/images/logo/lodoDef.jpg" width="200">
    </div>
   <nav>
        <ul>
            <li><a href="" class = "carrito">BUSCAR</a></li>
            <li><a href="" class = "carrito">MI CUENTAasd</a></li>
            <li><a href="" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
        </ul>
    </nav>
    </div>
    <div class="row">
        <div class="col-0">
            <img src="images/logo/1.jpeg" width="100%">
        </div>
    </div>
</div>

<!-------- PRODUCTOS  -------->
<div class="categorias">
    <div class="small-container1">
    <div class="row">
        <div class="col-1">
            <img src="images/productos/foto 1.jpg">
        </div> 
        <div class="col-1">
            <img src="images/productos/foto 2.jpg">
        </div>
        
        <div class="col-1">
            <img src="images/productos/foto 3.jpg">
        </div>
    </div>
    </div>
<!-------- PRODUCTOS DESTACADOS -------->
<div class="small-container1">
    <h2 class="tittle">PRODUCTOS DESTACADOS</h2>
    <div class="row">
        <div class="col-2">
            <img src="images/productos/foto 4.jpg">
            <h4>REMERA MATRIX DARK ACID</h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 5.jpg">
            <h4>REMERA CRYPTOCHILD </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 6.jpg">
            <h4>REMERA SPITFIRE </h4>
            <p>$2.590</p>
        </div>
        <div class="col-2">
            <img src="images/productos/foto 7.jpg">
            <h4>REMERA SICK</h4>
            <p>$2.590</p>
        </div>
    </div>
  </div>
</div>

<!-------- FOOTER -------->
<footer class="pie">
    <div class="pie2">
        <a class = "h2-footer">AYUDA</a>
        <a class = "h2-footer">CONTACTO</a>
        <a class = "h2-footer">ATENCIÓN AL CLIENTE</a>
        <a class = "h2-footer">TÉRMINOS Y CONDICIONES</a>
    </div>
    <div class="redes"> 
        <a href="" class=a-images><i class="fab fa-instagram fa-4x"></i></a>

        <a href="" class=a-images> <i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
</footer>



</body>
</html>