<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dead Fellas | Home</title>
        
<%- include('./partials/head') %> 

<body>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" width="40" alt="">
        </a>
        </div>
    <div class="header">
    <div class="container">
        
        <%- include('./partials/header') %> 

    <div class="slider">
        <ul>
            <li><img src="images/banner/banner.jpg" alt=""></li>
            <li><img src="images/banner/banner2.jpg" alt=""></li>
            <li><img src="images/banner/banner3.jpg" alt=""></li>
            <li><img src="images/banner/banner4.jpg" alt=""></li>
        </ul>
    </div>


<!-------- PRODUCTOS  -------->
<div class="categorias">
    <div class="small-container1">
    <div class="row">
        <div class="col-1">
            <img src="images/productos/product1.jpg">
        </div> 
        <div class="col-1">
            <img src="images/productos/product2.jpg">
        </div>
        
        <div class="col-1">
            <img src="images/productos/product3.jpg">
        </div>
    </div>
    </div>
<!-------- PRODUCTOS DESTACADOS -------->
<div class="small-container1">
    <h2 class="tittle">PRODUCTOS DESTACADOS</h2>
    <div class="row">
        <div class="col-2">
            <img src="images/productos/remera 1.jpg">
            <h4>PUMP UP THE VALIUM T SHIRT</h4>
            <p>$3.760</p>
        </div>
        <div class="col-2">
            <img src="images/productos/remera 2.jpg">
            <h4>POST OFFICE T SHIRT </h4>
            <p>$2.880</p>
        </div>
        <div class="col-2">
            <img src="images/productos/SWET.jpg">
            <h4>SARTRE SWEATER </h4>
            <p>$8.280</p>
        </div>
        <div class="col-2">
            <img src="images/productos/gorra.jpg">
            <h4>FESTIVAL DE CANNES CAP</h4>
            <p>$2.680</p>
        </div>
    </div>
  </div>
</div>

<!-------- FOOTER -------->

<<%- include('./partials/scripts') %> 

<!-- js para menu toggle -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if(MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }

</script>

</body>
</html>