<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" width="40" alt="">
        </a>
        </div>
<main class="bodyCart">

    <div class="header">
    <div class="container">
       <div class="navbar">
          <div class="logo">
            <img src="images/logo/lodoDef.jpg" width="200">
    </div>
    
   <nav>
        <ul>
            <li><a href="" class = "carrito">BUSCAR</a></li>
            <li><a href="" class = "carrito">MI CUENTA</a></li>
            <li><a href="" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
        </ul>
    </nav>
    </div>
    </div>
    </div>
<!-------- CARRITO -------->
    
    <div class="small-container cart-page">
        <img src="images/logo/arrow.png" width="20">
        <table>
            <thead>
                <tr>
                    <th>Artículos</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/productos/foto 8.jpg" >
                            <div>
                                <p>REMERA [ DIGITAL SELECTION ] BLANCO</p>
                                <a href="">Remover</a>
                            </div>
                          </div>  
    
                    </td>
    
                    <td><input type="number" value="1"></td>
                    <td>$2.190</td>
                </tr>
    
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/productos/foto 9.jpg" >
                            <div>
                                <p>CROP TOP [ LOVE FOLDER ] NEGRO</p>
                                <a href="">Remover</a>
                            </div>
                          </div>  
    
                    </td>
    
                    <td><input type="number" value="1"></td>
                    <td>$1.090</td>
                </tr>
    
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="images/productos/foto 10.jpg" >
                            <div>
                                <p>REMERA [ BULLEX ] BLANCA</p>
                                <a href="">Remover</a>
                            </div>
                          </div>  
    
                    </td>
    
                    <td><input type="number" value="1"></td>
                    <td>$1.890</td>
                </tr>
            
       
                <tr class="total-price-1">
                    <td></td>
                    <td>Cupon de descuento</td>
                    <td><input type="text" id="Nombre" placeholder="" class = "cupon-1"></td>   
                </tr>
                <tr class="total-price-1">
                    <td></td>
                    <td>Descuento aplicado</td>
                    <td>---</td>   
                </tr>
                <tr class="total-price-1">
                    <td></td>
                    <td>Costo de envío</td>
                    <td>$200</td>   
                </tr>
                
                <tr class="total-price">
                    <td></td>
                    <td>Total</td>
                    <td>$5.370</td>   
                </tr>

            </tbody>
            
        </table>
        <br>
        <a href="" class="finish">Finalizar compra</a>


         
    </div>

    </main>
<!-------- FOOTER -------->

<<%- include('./partials/scripts') %> 

</body>
</html>