<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dead Fellas | Home</title>
        
<%- include('./partials/head') %> 

<body>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" width="40" alt="">
        </a>
        </div>
    <div class="header">
    <div class="containerr">
        
        <%- include('./partials/header') %> 

</body>
</html>