<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Carga de productos</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" class="formCreate">
        <h1>Carga de producto nuevo</h1>
        <h3 class="h3create">Producto</h4>
        <input type="text" name="name" id="name">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.name) ? errorsCreate.name.msg : '' %>
        </small>
        <h3 class="h3create">Descripcion</h4>
        <input type="text" name="description" id="description">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.description) ? errorsCreate.description.msg : '' %>
        </small>
        <h3 class="h3create">Precio</h4>
        <input type="text" name="price" id="price">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.price) ? errorsCreate.price.msg : '' %>
        </small>
        <h3 class="h3create">Stock</h4>
        <input type="text" name="quantity" id="quantity">
        <small style="color: red">
            <%= (typeof errorsCreate != 'undefined' && errorsCreate.quantity) ? errorsCreate.quantity.msg : '' %>
        </small>
        <input type="file" name="images" id="images">
        <button>Cargar producto</button>
    </form>
</body>
</html>