<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar producto</title>
</head>
<body>
    
    
            <form action="/detail/<%= detail.id %>/?_method=PUT" method="POST" class="formCreate">
                <h1>Editar un Producto</h1>
                <div>
                    <label for="">Producto</label>
                    <input type="text" name="name" value="<%= detail.name%>">
                </div>
                <div>
                    <label for="message">Precio</label>
                    <input type="text" name="price" value="<%= detail.price%>">
                </div>
                <button type="submit" class="button">Editar</button>
            </form>
    

</body>
</html>