<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dead Fellas | Log in</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
     
</head>

<body class="fondo-login">
    <section class="container1-login">
        
            <form class="formularios-login" method="POST" action="" onsubmit="return functionValidation();">
                <article class="principal-login">
                    <a title="Dead Fellas" href="/"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" class="LogoDFLogin"/></a>
                </article>
                <div class="register_">
                    <input type="email" id="email" placeholder="Email" class ="places-" name="email">
                    <small style="color: red">
                        <%= (typeof errorsLogin != 'undefined' && errorsLogin.email) ? errorsLogin.email.msg : '' %>
                    </small>
                </div>
                <div class="register_">
                    <input type="password" id="password" placeholder="Contraseña" class ="places-" name="password">
                </div>
                <div class="passw-container-login">
                    <a href="#" class ="contra-login">¿Olvidaste tu contraseña?</a>
                </div>
                    <input type="submit" class="button1-login" value="Ingresar"/>
                </div>
                    <a href="./register" class ="regist-login">¿No tienes cuenta? Regístrate aquí!</a>
                   
            </form>
        
            
        </section>
    
        <script type="text/javascript">
           
        var txtEmail = document.getElementById("email");

       
        function functionField(param){
            if(param.value == "" || param.value == undefined){
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "Este campo es obligatorio";
                return false;
            } else{
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "";
                return true;
            }
        }
        
        function functionValidation() {
            let result = true;
            
            if(!functionField(txtEmail)){
                result = false
            }


            return result;
        }



        </script>
    
            </script>

</body>

</html>