<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dead Fellas | Log in</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
     
</head>

<body class="fondo-login">
    <section class="container1-login">
        <article class="principal-login">
            <!-- <img src="images/logo/lodoDef.jpg" alt="Logo" class="logo-login"> -->
            <a title="Dead Fellas" href="http://localhost:3000/"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" width="400"/></a>
        </article>
        
            <form class="formularios-login" method="POST" action="" onsubmit="return functionValidation();">
                <div class="register_">
                    <input type="email" id="email" placeholder="Email" class ="places-" name="email">
                    <small style="color: red">
                        <%= (typeof errorsLogin != 'undefined' && errorsLogin.email) ? errorsLogin.email.msg : '' %>
                    </small>
                </div>
                <div class="register_">
                    <input type="password" id="email" placeholder="Contraseña" class ="places-" name="email">
                </div>
                <div class="passw-container-login">
                    <a href="#" class ="contra-login">¿Olvidaste tu contraseña?</a>
                </div>
                    <input type="submit" class="button1-login" value="Ingresar"/>
                </div>
                <!-- <div class="container2-login">
                    <p class="mediante-login">Ingresar mediante:</p>            
                    
                    <article class="ingresar-login"><a href="#" class="vinc"><img src="images/logo/google_logo.png" alt="Google"> </a>  
                    </article> -->
                    <a href="http://localhost:3000/register" class ="regist-login">¿No tienes cuenta? Regístrate aquí!</a>
                    <!-- </div> -->
            </form>
        
            
        </section>
    
        <script type="text/javascript">
           
        var txtEmail = document.getElementById("email");

       
        function functionField(param){
            if(param.value == "" || param.value == undefined){
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "Este campo es obligatorio";
                return false;
            } else{
                param.parentElement.getElementsByTagName('small')[0].innerHTML = "";
                return true;
            }
        }
        
        function functionValidation() {
            let result = true;
            
            if(!functionField(txtEmail)){
                result = false
            }


            return result;
        }



        </script>
    
            </script>

</body>

</html>