<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead Fellas | Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Barlow+Condensed:wght@500&family=Spartan:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
</head>

<body class="registerbody">
    <main>
    <section class="register_section">
        <article class="imagen_register">
            <a title="Dead Fellas" href="http://localhost:3000/"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" width="400"/></a>
        </article>

        <div class="register_1">
            <p class = "registrate-">
                ¡Regístrate con tu email y contraseña para ahorrar tiempo en tus próximas compras!
            </p>
        </div>

        <form class="principal-register" action="/register/created" method="POST">  
         <div class="register_">
            <input type="text" id="Nombre" placeholder="Nombre" class ="places-" name="name">
        </div>
        <div class="register_">
            <input type="text" id="Nombree" placeholder="Nombre" class ="places-" name="surname">
        </div>
        <div class="register_">
            <input type="email" id="email" placeholder="Email" class ="places-" name="email">
        </div>
        <div class="register_">
            <input type="password" id="password" placeholder="Contraseña" class ="places-" name="password">
        </div>
        <div class="register_">
            <input type="password" id="repassword" placeholder="Contraseña" class ="places-" name="repassword">
        </div>

        <!-- <div class="register_">
            <label for="exampleFormControlFile1" class="upavatar">Subí tu avatar!</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="avatar">
        </div>  -->
        <div class = "register_2">

        </div>

        <button type="submit">Registrate</button>
        </form>
            
    </section>
    </main>
    
</body>
</html>
