<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Informacion</h1>
    <form action="/updateUsuario/<%=update.id%>/?_method=PUT" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name" value="<%= update.name%>">
        </div>
        <div>
            <label for="message">Apellido</label>
            <input type="text" name="surname" value="<%= update.surname%>">
        </div>
        <div>
            <label for="message">Email</label>
            <input type="email" name="email" value="<%= update.email%>">
        </div>
        <button type="submit">Editar</button>
    </form>
</body>
</html>