<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Modificar información</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form class="formularios-user" action="/modificarUsuario?_method=PUT" method="POST">
        <div class="container-login">
        <h1>¡Modificá tu información!</h1>
    
    
        <div class="div-userMod">
            <label for="">Nombre</label>
            <input class="input-userMod" type="text" name="name" value="<%= update.name%>">
        </div>
        <div class="div-userMod">
            <label for="message">Apellido</label>
            <input class="input-userMod" type="text" name="surname" value="<%= update.surname%>">
        </div>
        <div class="div-userMod">
            <label for="message">Email</label>
            <input class="input-userMod" type="email" name="email" value=" <%= update.email%>">
        </div>
        <div class="div-userMod">
        <button class = "button-user" type="submit">Confirmar</button>
        </div>
    </div>
    </form>

</body>
</html>