<div class="envios">
<b>ENVÍO GRATIS A PARTIR DE $8.000</b>
</div>

<div class="navegacion">
    <div class="logo">
      <a title="Dead Fellas" href="./"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" width="300" /></a>
</div>
<nav>
  <ul id="MenuItems">
    <% if(typeof usuarioLogueado == 'undefined') { %>
      <li><a href="./products" class = "carrito">SHOP</a></li>
      <li><a href="" class = "carrito">COLECCIONES</a></li>
      <li><a href="" class = "carrito">BUSCAR</a></li>
      <li><a href="./login" class = "carrito">INICIAR SESIÓN</a></li>
      <% }else if(usuarioLogueado.id == 16){ %>

        <li><a href="./products" class = "carrito">SHOP</a></li>
        <li><a href="./createProduct" class = "carrito">CREAR PRODUCTO</a></li>
        <li><a href="./updateProduct" class = "carrito">EDITAR PRODUCTO</a></li>
        <li><a href="./logout" class = "carrito">Cerrar Sesión</a></li>    

      <% } else { %>
        <li> Bienvenidx </li> 
        <li><a href="./modificarUsuario" class = "carrito">MI CUENTA</a></li>
        <li><a href="./products" class = "carrito">SHOP</a></li>
        <li><a href="" class = "carrito">COLECCIONES</a></li>
        <li><a href="" class = "carrito">BUSCAR</a></li>
        <li><a href="/productsCart" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
        <li><a href="./logout" class = "carrito">Cerrar Sesión</a></li>       
      <% } %>
    </ul>
</nav>
<img src="/images/logo/menu.png" class="menu-icon" onclick="menutoggle()">
</div>

