<footer class="pie">
    <div class= "divfooter">

        <a class = "afooter">AYUDA</a>
        <a class = "afooter">CONTACTO</a>
        <a class = "afooter">ATENCIÓN AL CLIENTE</a>
        <a class = "afooter">TÉRMINOS Y CONDICIONES</a>
    </div>
    <div class ="divfooter2">
        <a href="" class="imagesfooter"s><i class="fab fa-instagram fa-4x"></i></a>
        <a href="" class="imagesfooter"> <i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
    <div class="pie3">
    <p > &copy;2021 by Grupo9 </p>    
    </div>
</footer>