<footer class="pie">

    <div class="footer-container row">
    <div class="pie2 col-12 row">
        <a class = "h2-footer col-5 col-md-3">AYUDA</a>
        <a class = "h2-footer col-5 col-md-3">CONTACTO</a>
        <a class = "h2-footer col-5 col-md-3">ATENCIÓN AL CLIENTE</a>
        <a class = "h2-footer col-5 col-md-3">TÉRMINOS Y CONDICIONES</a>
    </div>
    <div class="redes col-12 d-flex justify-content-center" style="margin-top: 35px;"> 
        <a href="" class=a-images><i class="fab fa-instagram fa-4x"></i></a>

        <a href="" class=a-images> <i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
</div>
    <div class="pie3">
    <p> &copy;2021 by Grupo9 </p>    
    </div>
</footer>