<div class="envios">
<b>ENVÍO GRATIS A PARTIR DE $8.000</b>
</div>

<div class="navbar">
    <div class="logo">
      <a title="Dead Fellas" href="http://localhost:3000/"><img src="/images/logo/lodoDef.jpg" alt="Dead Fellas" width="300" /></a>
</div>
<nav>
  <ul id="MenuItems">
    <% if(typeof usuarioLogueado == 'undefined') { %>
      <li><a href="" class = "carrito">BUSCAR</a></li>
      <li><a href="" class = "carrito">MI CUENTA</a></li>
      <li><a href="" class = "carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a></li>
      <% } else { %>
        <li>Bienvenix</li>
      <% } %>
    </ul>
</nav>
<img src="/images/logo/menu.png" class="menu-icon" onclick="menutoggle()">
</div>