<footer class="pie">
    <div class="pie2">
        <a class = "h2-footer">AYUDA</a>
        <a class = "h2-footer">CONTACTO</a>
        <a class = "h2-footer">ATENCIÓN AL CLIENTE</a>
        <a class = "h2-footer">TÉRMINOS Y CONDICIONES</a>
    </div>
    <div class="redes"> 
        <a href="" class=a-images><i class="fab fa-instagram fa-4x"></i></a>

        <a href="" class=a-images> <i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
</footer>